<h1>{{title}}</h1>
<!--==============================================-->
<app-simple-form></app-simple-form>
<!--==============================================-->
{{mail.message}}
{{mail2.message}}
<br>
<!--==============================================-->
{{api}}
<br>
<!--==============================================-->
<ul>
  <li *ngFor="let message of mail.unreadMessages">
    {{message.text}}
  </li>
</ul>
<br>
<!--==============================================-->
<app-simple-form
  *ngFor="let message of mail.unreadMessages"
  [message]="message.text"
  (update)="onUpdate($event)"
>
</app-simple-form>
{{data}}
